<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<body>
    <header th:fragment="navbar" class="p-3 mb-3 border-bottom naranja-transcaribe sticky-top">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <h4 class="text-white kanit-bold">QUEJAPP</h4>
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ms-1">
                </ul>

                <div class="text-end" sec:authorize="!isAuthenticated()">
                    <a href="/login" class="btn btn-outline-light me-2">Iniciar</a>
                    <a href="/signup" class="btn btn-warning">Registrarse</a>
                </div>

                <div class="dropdown text-end"  sec:authorize="isAuthenticated()">
                    <button th:text="${'Bienvenido '+ #authentication.name}" type="button" class="btn btn-link nav-link py-2 px-0 px-lg-2 text-white">
                    </button>
                </div>
                <form sec:authorize="isAuthenticated()" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-outline-light me-2" value="Sign Out">
                        Salir
                    </button>
                </form>

            </div>
        </div>
    </header>

</body>
</html>