/*
Importe de Fuente Kanit
*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;700&display=swap');

.kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.naranja-transcaribe{
    background-color: #F18A2B;
}
.naranja-transcaribe-fuente{
    color: #F18A2B;
}
.fondo-gris{
    background-color: #fafafa;
}
.fondo-card{
    background-color: #eff2ef;
}
.sticky-top{
    position: sticky;
    top: 0;
    z-index: 1020;
}
.caja-iniciar-sesion{
    position: relative;
    max-width: 440px;
    width: calc(100% - 40px);
    padding: 44px;
    margin: 10ch auto 28px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    min-width: 320px;
    min-height: 338px;
    overflow: hidden;
}

.bd-sidebar {
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 6rem);
    padding-left: .25rem;
    margin-left: -.25rem;
    overflow-y: auto;
}
